<div class="row">
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=1></app-custom-table1>
    </div>
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=2></app-custom-table1>
    </div>
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=3></app-custom-table1>
    </div>
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=4></app-custom-table1>
    </div>
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=5></app-custom-table1>
    </div>
    <div class="col-sm-4 col-md-2" style="padding:8px;margin:15px">
        <app-custom-table1 [tabelNumber]=6></app-custom-table1>
    </div>
</div>